{% extends '../base.html' %}
{% block title %}Blog{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="header mb-5 mt-3">
    <div class="text-center">
        <h1>Sblog</h1>
    </div>
</div>
<div class="container">
        {% for post in Posts %}
            <div class="box">
                
                <a href="{% url 'post' post.id %}">
                    
                    <h4>{{ post.title }}</h4>
                </a>
                <p class="text-secondary">{{post.time|date:"d-m-Y"}}</p>
                {% if post.content|length > 25 %}
                    <p class="text-secondary">{{ post.content|slice:"25" }}...</a></p>
                {% else %}
                    <p class="text-secondary">{{ post.content }}</p>
                {% endif %}
                
                
            </div>
            <hr>
        {% endfor %}
    </div>
</div>

{% endblock %}