{% extends '../base.html' %}
{% block title %}Blog{% endblock %}

{% block content %}
<div class="text-center mt-5 mb-3">
    <h1>Post your blog</h1>
</div>
<form class="container" method="POST">
    {% csrf_token %}

    <div class="mb-3">
        <label for="author_field" class="form-label">Author</label>
        <select class="form-select" aria-label="Default select example" name="author">
            <option selected>Anonymous</option>
            <option value="{{ user.get_username }}">{{ user.get_username }}</option>
          </select>
      </div>
      <div class="mb-3">
        <label for="title_field" class="form-label">Title</label>
        <input type="text" class="form-control" id="title_field" name="title">
      </div>
      <div class="mb-3">
        <label for="content_field" class="form-label">Content</label>
        <textarea class="form-control" id="content_field" name="content"></textarea>
      </div>


      <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}