<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | Sblog</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="shortcut icon" href="{% static 'image/icon.webp' %}" type="image/x-icon">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="{% static 'image/icon.webp' %}" alt="icon" width="50px">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

              
            </ul>
            <form class="d-flex" role="search">
                {% if user.is_authenticated %}
                <button class="btn btn-success me-2" type="submit">Sign up</button>
                <button class="btn btn-outline-success" type="submit">Login</button>
                {% else %}
                <button class="btn btn-success me-2" type="submit">Blog</button>
                <button class="btn btn-outline-success" type="submit">Log out</button>
                {% endif %}
            </form>
          </div>
        </div>
      </nav>
    {% block content %}

    {% endblock %}
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>