<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | Sblog</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="shortcut icon" href="{% static 'image/icon.webp' %}" type="image/x-icon">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
          <a class="navbar-brand" href="{% url 'blog' %}">
            <img src="{% static 'image/icon.webp' %}" alt="icon" width="50px">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'form' %}">Post</a>
              </li>
              {% else %}
              {% endif %}
              
            </ul>
            <form class="d-flex" role="search">
                {% if user.is_authenticated %}
                <a href="{% url 'blog' %}" class="btn btn-success me-2" type="submit">Blog</a>
                <a href="{% url 'logout' %}" class="btn btn-outline-success" type="submit">Log out</a>
                {% else %}
                
                <a href="{% url 'signup' %}" class="btn btn-success me-2" type="submit">Sign up</a>
                <a href="{% url 'login' %}" class="btn btn-outline-success" type="submit">Login</a>
                {% endif %}
            </form>
          </div>
        </div>
      </nav>
    {% block content %}

    {% endblock %}
    <footer class="bg-light text-center text-lg-start">
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-dark" href="#">Sblog</a>, Made by <a class="text-dark" href="https://iamtuandung.web.app/" target="_blank">Lương Tuấn Dũng</a>.
      </div>
      <!-- Copyright -->
    </footer>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>